.card {
  display: flex;
  width: 302px;
  height: 177px;
  background-color: grey;
}

.card span {
  font-family: Proxima;
}

.card.focused {
  transform: scale(1.1);
  margin: 0 10px;
  border: 2px solid blue;
}
