html {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

body {
  height: fit-content;
  width: 100vw;
  padding: 0;
  margin: 0;
  border: 0;
  color: white;
  background-color: black;
}

#root {
  height: 100%;
  width: 100%;
}
